.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-color: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("../images/waves/wave1.svg");
}

.layer2 {
  background-image: url("../images/waves/wave2.svg");
}

.layer3 {
  background-image: url("../images/waves/wave3.svg");
}

.layer4 {
  background-image: url("../images/waves/wave4.svg");
}
